.test {
  margin: 15rem auto;
  color: white;
  font-weight: 900;
  text-align: center;
}

.codeHole {
    z-index: -1;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
