<div class="aboutContainer" id="about" [@scrollAnimation]="state">
  <div class="container">
    <h1 class="containerTitle">About Ryan...</h1>
    <p>I'm Ryan Putman, web developer and designer, working in web development and online marketing. If you have a project that needs some creative injection then that’s where I come in!</p>
    <p>My job is to build your website so that it is functional and user-friendly but at the same time attractive. Moreover, I add personal touch to your product and make sure that is eye-catching and easy to use. My aim is to bring across your message and identity in the most creative way.</p>
  </div>
</div>
