.containerTitle{
  font-size:60px;
  font-weight: 900;
  color: white;
  text-align:left;
}
.skillsContainer{
  padding: 15rem 20px;
  margin: 2rem 0 5rem;
  text-align: center;
}
.computer {
    width: 300px;
    margin: 2rem 0 2.5rem;
}
.skill{
    font-size: 27px;
    color: white;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.4);
    padding-top: 15px;
    background: #0000001a;
}

.logo {
    width: 115px;
}

.computerTitle {
    margin: 2rem 0 2.5rem;
}
