<div class="skillsContainer">
  <div class="container">
    <div class="row">
      <div class="skill col-md-2" [@flyInLeft]="state">
        <img class="logo" src="./assets/images/logos/AngularJS_logo.png" alt="angular logo">
        <p>AngularJs</p>
      </div>
      <div class="skill col-md-2" [@flyInLeft]="state">
        <img class="logo" src="./assets/images/logos/javascript.png" alt="javascript logo">
        <p>Javascript</p>
      </div>
      <div class="skill col-md-2" [@flyInTop]="state">
        <img class="logo" src="./assets/images/logos/csharp.png" alt="C# logo">
        <p>C#</p>
      </div>
      <div class="skill col-md-2" [@flyInTop]="state">
        <img class="logo" src="./assets/images/logos/react.png" alt="React logo">
        <p>React</p>
      </div>
      <div class="skill col-md-2" [@flyInRight]="state">
        <img class="logo" src="./assets/images/logos/mysql.png" alt="mysql logo">
        <p>MySQL</p>
      </div>
      <div class="skill col-md-2" [@flyInRight]="state">
        <img class="logo" src="./assets/images/logos/mysql.png" alt="mysql logo">
        <p>MySQL</p>
      </div>
    </div>
    <div class="row">
      <div class="computerTitle col-md-12" [@fadeIn]="state">
        <h1 class="containerTitle">Programming Skills</h1>
        <img class="computer" src="./assets/images/computer.png" alt="mac computer">
      </div>
    </div>
    <div class="row">
      <div class="skill col-md-2" [@flyInLeft]="state">
        <img class="logo" src="./assets/images/logos/css.png" alt="css logo">
        <p>CSS</p>
      </div>
      <div class="skill col-md-2" [@flyInLeft]="state">
        <img class="logo" src="./assets/images/logos/firebase.png" alt="firebase logo">
        <p>Firebase</p>
      </div>
      <div class="skill col-md-2" [@flyInBottom]="state">
        <img class="logo" src="./assets/images/logos/github.png" alt="github logo">
        <p>Github</p>
      </div>
      <div class="skill col-md-2" [@flyInBottom]="state">
        <img class="logo" src="./assets/images/logos/html.png" alt="html logo">
        <p>HTML</p>
      </div>
      <div class="skill col-md-2" [@flyInRight]="state">
        <img class="logo" src="./assets/images/logos/wordpress.png" alt="wordpress logo">
        <p>Wordpress</p>
      </div>
      <div class="skill col-md-2" [@flyInRight]="state">
        <img class="logo" src="./assets/images/logos/mysql.png" alt="mysql logo">
        <p>MySQL</p>
      </div>
    </div>
  </div>
</div>
