img {
  max-width: 100%;
}

.portfolioDiv {
    width: 23.5%;
    background-color: rgba(216, 88, 86, 0.7);
    border-radius: 15px;
    color: white;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.62);
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.62);
}

.portfolioDiv:nth-of-type(4n) {
    margin-right: 0%;
}

.portfolioImage {
    position: relative;
    height: 211px;
    overflow: hidden;
    background-color: white;
    border-radius: 15px 15px 0 0;
}

.portfolioImage img{
  border-radius: 15px 15px 0 0;
}

.portfolioCategory{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.7);
    padding: 3px 10px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-weight: 800;
}

.portfolioName {
    font-weight: 800;
    font-size: 22px;
}

.portfolioContainer {
    background: url('/assets/images/portfolioBackground.jpg');
    background-position: center;
    padding: 20px;
}

.portfolioButtons p:last-of-type{
  margin-bottom: 0px;
  padding-bottom:10px;
}

.portfolioButtons button {
  text-transform: uppercase;
  font-weight: 700;
}

.portfolioButtons button:hover {
  text-transform: uppercase;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.7);
}

.btn-left{
  width: 49.2%;
  border-radius: 0 0 0 15px;
  background-color: rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.btn-right{
  width: 49.2%;
  border-radius: 0 0 15px 0;
  background-color: rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.orange {
  background-color: rgba(229, 75, 67, 0.9);
}

.blue {
  background-color: rgba(92, 140, 201, 0.9);
}

.green {
  background-color: rgba(55, 182, 103, 0.9);
}

.yellow {
  background-color: rgba(246, 199, 18, 0.9);
}


.portfolioText {
  padding:10px;
}
