#all-projects {
    border: 1px solid black;
    border-bottom: 0;
    padding: 10px;
    text-align: center;
    border-left: 0;
    border-right: 0;
}

#all-projects p{
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#all-projects #editProject {
  margin-right: 10px;
}

#addNew {
  margin: 10px 0;
  width: 100%;
}

a {
  color:#e65a53;
}

a:hover {
  color:#bb2a38;
  text-decoration: none;
}

.addNewButton {
    color: #fff;
    background-color: #e65a53;
    border-color: #bb2a38;
    text-transform: uppercase;
}

.addNewButton:hover {
    color: #fff;
    background-color: #833b2f;
    border-color: #833b2f;
}

.orange {
  background-color: rgba(229, 75, 67, 0.9);
  color: white;
}

.blue {
  background-color: rgba(92, 140, 201, 0.9);
  color: white;
}

.green {
  background-color: rgba(55, 182, 103, 0.9);
  color: white;
}

.yellow {
  background-color: rgba(246, 199, 18, 0.9);
  color: white;
}

#admin-titles {
    text-align: center;
    background: black;
    color: white;
    text-transform: uppercase;
    padding: 15px 10px;
    border-radius: 15px 15px 0 0;
}

#admin-titles h2{
font-size: 16px;
margin-bottom: 0px;
}

.projTitleText {
  background: #ffffffd6;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.4);
    -webkit-transition: background-color 1s ease-out, box-shadow 1s ease-out, -webkit-box-shadow 1s ease-out, -moz-box-shadow 1s ease-out;
    transition: background-color 1s ease-out, box-shadow 1s ease-out, -webkit-box-shadow 1s ease-out;
}

#admin-titles .col-md-4:first-of-type,
#admin-titles .col-md-2{
    border-right: 1px solid white;
}

#all-projects .col-md-4:first-of-type,
#all-projects .col-md-2{
    border-right: 1px solid black;
}

.adminContainer{
  padding: 20px;
    margin-top: 6rem;
    margin-bottom: 6rem;
    background: url(/assets/images/adminBackground.jpeg);
    background-position: center;
    border: 1px solid black;
}

.adminContainer .row{
    margin-left: 0px;
    margin-right: 0px;
}

.portfolioButtons p:last-of-type{
  margin-bottom: 0px;
  padding-bottom:10px;
}

.portfolioButtons button {
  font-weight: 700;
}

.btn-left{
    width: 35%;
    background-color: rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'portfolio-font';
    font-size: 26px;
    line-height: normal;
    padding: 6px 4px 2px 4px;
    -webkit-transition: color 2s ease-out, background-color 2s ease-out;
    -moz-transition: color 2s ease-out, background-color 2s ease-out;
    -o-transition: color 2s ease-out, background-color 2s ease-out;
    transition: color 2s ease-out, background-color 2s ease-out;
}

.btn-right{
  width: 61%;
  background-color: rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3);
  color: white;
  -webkit-transition: color 2s ease-out, background-color 2s ease-out;
  -moz-transition: color 2s ease-out, background-color 2s ease-out;
  -o-transition: color 2s ease-out, background-color 2s ease-out;
  transition: color 2s ease-out, background-color 2s ease-out;
  text-transform: uppercase;
}

.btn-left:hover,
.btn-right:hover {
  color: rgb(246, 204, 59);
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}
