<div class="navMenuContainer">
  <div class="container">
    <div class="menuItem">
      <p><a href="#top" target="_self">Top of Page</a></p>
    </div>
    <div class="menuItem">
      <p><a href="#about" target="_self">About</a></p>
    </div>
    <div class="menuItem">
      <p><a href="#work" target="_self">Work</a></p>
    </div>
    <div class="menuItem">
      <p><a href="#resume" target="_self">Resume</a></p>
    </div>
    <div class="menuItem">
      <p><a href="#skills" target="_self">Skills</a></p>
    </div>
    <div class="menuItem">
      <p><a href="#contact" target="_self">Contact</a></p>
    </div>
  </div>
</div>
