<div class="navMenuContainer">
  <div class="container" id="top">
    <div class="menuItem">
      <p><a href="#top" target="_self">Top of Page</a></p>
    </div>
    <div class="menuItem">
      <p><a href="#anchorLinkID" target="_self">About</a></p>
    </div>
    <div class="menuItem">
      <p><a href="#work" target="_self">Work</a></p>
    </div>
    <div class="menuItem">
      <p><a href="#">Resume</a></p>
    </div>
    <div class="menuItem">
      <p><a href="#skills" target="_self">Skills</a></p>
    </div>
    <div class="menuItem">
      <p><a href="#">Contact</a></p>
    </div>
  </div>
</div>
