.containerTitle{
  font-size:60px;
  font-weight: 900;
}
.resumeContainer{
  padding: 15rem 20px;
  margin: 5rem 0;
  color: white;
}

.resumeContainer h2{
    font-size: 40px;
    font-weight: 700;
    color: rgba(216, 88, 86, 0.7);
}

.resumeContainer h5{
    clear: both;
}

.resumeContainer p{
    font-weight: 200;
}

.logo {
    max-width: 66px;
    max-height: 66px;
    float: left;
    margin-right: 22px;
}

.resumeItem{
    margin: 30px 0;
}

.resumeDownload {
    background-color: rgba(216, 88, 86, 0.7);
    color: white;
    padding: 10px;
    border-radius: 7px;
    font-weight: 900;
    border: 0px solid black;
}

.resumeDownload:hover {
    background-color: rgba(119, 34, 32, 0.7);
}
